/* ===== GLOBAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(180deg, #000000, #0a0a0a);
    color: white;
}

/* ===== HEADER ===== */
header {
    background: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid red;
}

header h1 {
    font-size: 28px;
    color: red;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

/* ===== MAIN CARD ===== */
.container {
    width: 80%;
    margin: 40px auto;
    background: #111;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #222;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
}

/* ===== FORM LABELS ===== */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    background: #222;
    border: 1px solid #333;
    color: white;
}

/* ===== BUTTON ===== */
.btn {
    display: inline-block;
    background: red;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background: darkred;
}

/* ===== TRAINERS GRID ===== */
.trainer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.trainer-card {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #222;
    text-align: center;
}

.trainer-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.select-btn {
    background: red;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
}

.select-btn:hover {
    background: darkred;
}

/* ===== CONFIRMATION ===== */
.confirm-box {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #222;
    margin-top: 20px;
}

.confirm-box h3 {
    color: red;
    margin-top: 15px;
}

/* RESERVATION CONFIRMED CARD */
.confirm-success {
    background:#111;
    border:2px solid red;
    padding:25px;
    text-align:center;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 0 15px rgba(255,0,0,0.4);
}
